*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* general rules */
.btn{

}

.App{
  background-color: rgb(190, 190, 233);
  color: rgb(41, 37, 37);
  width:100%;
  max-width: 1440px;
}

.Navbar {
  background-color: rgb(88, 88, 223);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  1em;
}

.header-title {
}

main {
  text-align: center;
}

.empty{
  visibility: hidden;
}